# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\my_projects\robotframework_shared_sshlibrary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
